# in-source build artifacts
/*.ini
/iguana*/
/install*/
/bin
/etc
/include
/lib
/python
/share
/.cache

# chameleon artifacts
chameleon-tree

# data files
*.hipo
*.root
*.png

# overrides
!doc/gen/logo.png

# misc. artifacts
.DS_Store
**/.vscode/*
