site_name: Iguana Documentation
repo_url: https://github.com/JeffersonLab/iguana
nav:
  - Home: index.md
  - Setup: setup.md
  - Dependencies: dependency_resolution.md
  - Troubleshooting: troubleshooting.md
  - Testing: testing.md
  - Maintenance: maintenance.md
  - Deployment: ifarm.md
use_directory_urls: false
extra:
  homepage: index.html
theme:
  name: material
  logo: logo_small.png
  favicon: logo_small.png
  features:
    - content.code.copy
    - content.code.select
    - search.suggest
  palette:
    - media: "(prefers-color-scheme)"
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: purple
      toggle:
        icon: material/weather-night
        name: Switch to system preference
plugins:
  - search
markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - pymdownx.details
