name: macOS

on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ '*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  macOS:
    uses: ./.github/workflows/ci.yml
    with:
      runner: macos-11
