name: macOS

on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ '*' ]
  schedule:
    - cron: '15 7 * * 0' # Sundays at 0715Z

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  macOS:
    name: macOS (latest)
    uses: ./.github/workflows/ci.yml
    with:
      id: macOS
      runner: macos-latest
      test_matrix: >-
        {
          "include": [
            { "mode": "test",   "build_id": "cpp-gcc-release",        "CC": "gcc", "CXX": "g++", "buildtype": "release" },
            { "mode": "noROOT", "build_id": "cpp-gcc-release-noROOT", "CC": "gcc", "CXX": "g++", "buildtype": "release" }
          ]
        }

  issue_bot:
    name: Issue bot
    # if: ${{ github.event_name == 'schedule' && ( cancelled() || failure() ) }}
    runs-on: ubuntu-latest
    needs: [ macOS ]
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v4
      - uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WORKFLOW_ID: macOS
          RUN_ID: ${{ github.run_id }}
          REPO_URL: ${{ github.event.repository.html_url }}
        with:
          filename: .github/schedule-issue.md
