name: MinVer # minimum required-version of dependencies on Linux

on:
  pull_request:
  push:
    branches: [ main ]
    tags: [ '*' ]
  schedule:
    - cron: '15 7 * * 0' # Sundays at 0715Z

jobs:

  linux:
    name: Linux (minver)
    uses: ./.github/workflows/ci.yml
    with:
      id: linux-minver
      runner: ubuntu-latest
      container: archlinux/archlinux:latest
      verset: minver
      matrix: >-
        {
          "id": [
            "cpp",
            "noROOT",
            "python",
            "fortran"
          ],
          "include": [
            { "id": "cpp",     "CC": "gcc", "CXX": "g++", "opts": "-Dbuildtype=release -Dz_require_root=true   -Dtest_validator_all_stats=true"  },
            { "id": "noROOT",  "CC": "gcc", "CXX": "g++", "opts": "-Dbuildtype=release -Dz_require_root=false" },
            { "id": "python",  "CC": "gcc", "CXX": "g++", "opts": "-Dbuildtype=release -Dz_require_root=true   -Dbind_python=true"  },
            { "id": "fortran", "CC": "gcc", "CXX": "g++", "opts": "-Dbuildtype=release -Dz_require_root=true   -Dbind_fortran=true" }
          ]
        }

  issue_bot:
    name: Issue bot
    if: ${{ github.event_name == 'schedule' && ( cancelled() || failure() ) }}
    runs-on: ubuntu-latest
    needs: [ linux ]
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v4
      - uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WORKFLOW_ID: linux-minver
          RUN_ID: ${{ github.run_id }}
          REPO_URL: ${{ github.event.repository.html_url }}
        with:
          filename: .github/schedule-issue.md
